* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.card {
  text-align: center;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.allCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bankImg {
  border-radius: 35px;
  border: 0.5px solid #000;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.allDataDisplay {
  text-align: center;
  margin-top: 20px;
}
